.container {
  height: 100vh;
  background-color: green;
}

.column-flex img {
  width: 12rem;
}

.image-up {
  transform: rotate(0.75turn);
}

.image-right {
  transform: rotate(0turn);
}

.image-down {
  transform: rotate(0.25turn);
}

.image-left {
  transform: rotate(0.5turn);
}
